@{
  Layout = "_Layout";
}
      <h1>Favorite Traveling Photos</h1>
      <ul>
        <li><img src='~/img/maksym-tymchyk-dDbWRE_3p-0-unsplash.jpg' width=25%></li>
        <li><img src='~/img/maksym-tymchyk-dDbWRE_3p-0-unsplash.jpg' width=35%></li>
        <li><img src='~/img/maksym-tymchyk-dDbWRE_3p-0-unsplash.jpg' width=45%></li>
      </ul>